<a href="https://colab.research.google.com/github/MarlonAB/AprendizajeAutomatico/blob/master/AprendizajeAutom%C3%A1tico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
data = pd.read_csv('/content/car.csv', header=None)

In [0]:
data.columns = ['price', 'maintenance','n_doors','capacity','size_lug','safety', 'class']

In [28]:
data.sample(5)

      price maintenance n_doors capacity size_lug safety  class
1143    med         med       4        4    small    low  unacc
1487    low        high   5more        2    small   high  unacc
1354    low       vhigh       4        2      med    med  unacc
1528    low         med       2        4      big    med   good
243   vhigh         med       3        2    small    low  unacc

In [0]:
data.price.replace(('vhigh', 'high', 'med', 'low'), (4,3,2,1), inplace=True)
data.maintenance.replace(('vhigh','high','med','low'), (4,3,2,1), inplace=True)
data.n_doors.replace(('2','3','4','5more'), (1,2,3,4), inplace=True)
data.capacity.replace(('2', '4', 'more'), (1,2,3), inplace=True)
data.size_lug.replace(('small','med','big'), (1,2,3), inplace=True)
data.safety.replace(('low', 'med', 'high'), (1,2,3), inplace=True)

In [0]:
data['class'].replace(('unacc','acc','good','vgood'), (1,2,3,4), inplace = True)

In [31]:
data.head(5)

   price  maintenance  n_doors  capacity  size_lug  safety  class
0      4            4        1         1         1       1      1
1      4            4        1         1         1       2      1
2      4            4        1         1         1       3      1
3      4            4        1         1         2       1      1
4      4            4        1         1         2       2      1

Recomendación de división de datos


*   80% aprendizaje
*   20% pruebas

In [0]:
dataset = data.values
X = dataset[:, 0:6]
Y = np.asarray(dataset[:, 6], dtype = 'S6')

In [0]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [0]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [0]:
tr = tree.DecisionTreeClassifier(max_depth = 10)

In [59]:
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
y_pred = tr.predict(X_Test)

In [61]:
y_pred

array([b'2', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'3', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'3', b'2', b'1',
       b'2', b'2', b'1', b'2', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'3', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

In [0]:
score = tr.score(X_Test, Y_Test)

In [65]:
print('Precisión: %0.4f' %(score))

Precisión: 0.9682

El porcentaje de Precisión es el indicado **0.9682%**

---